<div class="container d-flex justify-content-between tamanho" >
    <div class="card" style="width: 18rem;">
        <img src="../../assets/chocolate.jpg" class="card-img-top" alt="...">
        <div class="card-body ">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Chocolate é vida</p>
            <a href="#" class="btn btn-primary container-fluid">Comprar</a> 
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/download.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">A vida é mais bela com chocolate</p>
            <a href="#" class="btn btn-primary container-fluid">Comprar</a> 
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/images.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">A vida é mais bela com chocolate</p>
            <a href="#" class="btn btn-primary container-fluid">Comprar</a> 
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/images 2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">A vida é mais bela com chocolate</p>
            <a href="#" class="btn btn-primary container-fluid">Comprar</a> 
        </div>
      </div>
</div>